[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
pandas = "*"
numpy = "*"
transformers = "*"
tqdm = "*"
ipykernel = "*"
jupyter = "*"
ipywidgets = "*"
torchmetrics = "*"
scikit-learn = "*"
matplotlib = "*"
contractions = "*"
nltk = "*"
datasets = "*"
shap = "*"
joblib = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.11"
